<% provide(:title, "Your Listings") %>
<div class="container-fluid">
    <%= render 'new' %>
    <div class="row">
        <%= render 'layouts/navigation' %>
        <div class="col-lg-9 col-md-9" style="margin-bottom: 100px">
            <div class="d-none d-lg-block mr-5 pr-5">
                <div class="row mt-5 pt-5">
                    <div class="col">
                        <h1>Your Listings</h1>
                    </div>
                    <div >
                        <button class="btn btn-outline-success d--flex justify-content-end roundedButton" type="button" data-toggle="modal" data-target="#newListingModal" >Add a new Listing &nbsp;<i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <% @listing_list.each do |item| %>
                                <div class="col-lg-3 col-md-3">
                                    <div class="card mx-3 my-3">    
                                        <% if item.images.present? %>
                                            <%= image_tag item.images.first.image, class: "card-img-top w-100"%>
                                        <% else %>
                                            <p> No image found </p>
                                        <% end %>
                                        <div class="card-body">
                                            <h5 class="text-center card-title"><%= item.listing_name %></h5>
                                            <div class="col">
                                                <div class="btn-group" role="group">
                                                    <%= link_to raw("View Details"), item, class: "btn btn-outline-primary d-flex justify-content-center" %>
                                                    <%= link_to raw("Edit Details"), room_listing_path(item), class: "btn btn-outline-info d-flex justify-content-center" %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 21px;">
                    <div class="col">
                        <nav class="d-flex justify-content-center">
                            <%= will_paginate @listing_list %>
                        </nav>
                    </div>
                </div>
            </div>
            
            <div class="d-lg-none">
                <div class="col-md-12 col-sm-12 col-xs-12 ml-4 mt-5">
                    <div class="row offset-md-3 offset-sm-3 offset-xs-3 ">
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <h1>Your Listings</h1>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-outline-success roundedButton d-flex justify-content-end" type="button" data-toggle="modal" data-target="#newListingModal"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-3 offset-sm-3 offset-xs-3 col-md-9 col-sm-9 col-xs-9">
                            <% @listing_list.each do |item| %>                                
                                <div class="row">
                                    <div class="card w-100" style="margin-bottom: 20px;">
                                        <div class="card-body">
                                            <div class="row">
                                                <% if item.images.present? %>
                                                    <div class="col-md-6 col-sm-6 col-xs-6" style="background-image: url(<%= url_for(item.images.first.image) %>);
                                                        height: 150px;
                                                        width: 150px;
                                                        background-size: cover;
                                                        background-position: center;">
                                                    </div>
                                                <% else %>
                                                    <p class="m-auto"> No image found </p>
                                                <% end %>                                                
                                                <div class="col-md-6 col-sm-6 col-xs-6 py-5">
                                                    <h6><%= link_to item.listing_name, item, class:"text-dark text-break" %></h6>
                                                    <div class="btn-group mt-3 d-flex justify-content-end" role="group">
                                                        <%= link_to raw("<i class='fa fa-eye'></i>"), item, class: "btn btn-outline-primary d-flex justify-content-center" %>
                                                        <%= link_to raw("<i class='fa fa-pen'></i>"), room_listing_path(item), class: "btn btn-outline-info d-flex justify-content-center" %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="row" style="margin-top: 21px; margin-bottom: 100px;">
                                <div class="col">
                                    <nav class="d-flex justify-content-center">
                                        <%= will_paginate @listing_list %>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                <div>
            </div> 
            
        </div>
    </div>
</div>
