<% provide(:title, "#{@listing.listing_name}" ) %>

<% if @listing.images.present? %>
    <div style='background-image: url(<%= url_for(@listing.images.first.image) %>);
        height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;'> 
    </div>
<% else %>
    <div> 
        <h1 class="text-danger d-xl-flex justify-content-xl-center" style="margin-top: 250px;margin-bottom: 150px;"> No Image uploaded! </h1>
    </div>
<% end %>
<div class="container">
    <div class="row" style="margin-top: 55px;">
        <div class="col">
            <p><span style="font-size: 42px;color: #16f063;"><%= @listing.listing_name %></span> <br/> Hosted by <%= @host_details.first_name %> <%= @host_details.last_name %></p>
        </div>
        <% if @listing.user_id == current_user.id %>
        <div class="col-xl-3">
            <div class="row" style="margin-top: 22px;">
                <div class="col">
                    <%= link_to raw("<i class='fa fa-pen'></i> Edit"), room_listing_path(@listing), class: "btn btn-outline-info roundedButton", style: "margin-right: 15px; margin-left: 50px"  %>
                    <%= link_to raw("<i class='fa fa-trash'></i> Delete"), listings_path(@listing), class: "btn btn-outline-danger roundedButton", method: :delete, data: { confirm: "You sure?" },  style:"margin-left: 15px " %>
                </div>
            </div>
        </div>
        <%end%>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <hr />
                <ul class="nav nav-pills d-xl-flex justify-content-xl-center">
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link active" href="#tab-1">Details</a></li>
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link " href="#tab-2">Host Information</a></li>
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link " href="#tab-3">Gallery</a></li>
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link " href="#tab-3">Reviews</a></li>
                </ul>
                <div class="tab-content">
                     <%= render 'details' %>
                    <div role="tabpanel" class="tab-pane fade" id="tab-2">
                        <%= render 'host_information' %>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-3">
                        <%= render 'gallery'%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>