<% provide(:title, "Search Results" ) %>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDNeXbH-bDElDPrrO3cPtyfO4L07k4L6aY&callback=loadLocations'></script>
<script type='text/javascript'>
    function loadLocations() {
        var location = [];
        <% @listing_list.each do |pin| %>
            location.push({lat: Number("<%= pin.latitude %>"), lng: Number("<%= pin.longitude %>")});
        <% end %>
        
        var infoWindow = [];
        <% @listing_list.each do |info| %>
            infoWindow.push(new google.maps.InfoWindow({
                content: '<div id="content"><%= info.price %></div>'
            }));
        <% end %>

        var map = new google.maps.Map(document.getElementById('map'),{
            center: location[0],
            zoom: 14
        });

        var marker = [];
        for(var i=0; i<location.length; i++){
            marker[i] = new google.maps.Marker({
                position: location[i],
                map: map
            });
        }
        for(var i=0; i<location.length; i++){
            infoWindow[i].open(map, marker[i]);
        }
    }
    google.maps.event.addDomListener(window,'load', loadLocations);
</script>

<div class="container MontserratFont" style="margin-bottom: 100px;">
    <div class="row" style="margin-top: 100px;">
        <div class="col">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-xs-10">
                    <h1>Find your stay today!</h1>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 pull-right">
                    <a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button">Show Filters</a>
                </div>
            </div>
            <hr />            
            <%= render 'form' %>
        </div>
    </div>

    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <% if @listing_list.present? == false %>
                <p>
                    <strong><em>No Listings Found!</em></strong>
                    <hr/> Please try again by selecting any of the options beside,<br /> we might be able to find something..
                </p>
            <% else %>
                <% @listing_list.each do |item| %>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-xl-3">
                                    <div style="background-image: url(<%= url_for(item.images.first.image) %>);
                                                height: 120px;
                                                width: 170px;
                                                background-size: cover;
                                                background-position: center;"
                                    >
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h6><%= link_to item.listing_name, item, class:"text-dark" %></h6>
                                            <hr style="background-color: #16f063;" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <ul>
                                                <li><%= item.address %></li>
                                                <li>$&nbsp;<%= item.price %></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <ul>
                                                <li>Rating</li>
                                            </ul>
                                        </div>
                                        <div class="col-xl-1 d-xl-flex justify-content-xl-center align-items-xl-center">
                                            <%= link_to raw("<i class='fa fa-chevron-right text-info'></i>"), item %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div id="map" class="col-lg-4" style="min-width: 200px;height: 400px;"></div>
            <div class="row" style="margin-top: 25px;">
                <div class="col d-xl-flex justify-content-xl-center">
                      <%= will_paginate @listing_list %>
                </div>
            </div>
        </div>
    </div>
</div>
