<% provide(:title, "Log in") %>
<div>
    <div class="loginHeadingBG">
        <h1 class="text-white hostHeadingCaption">Welcome back!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="margin-top: 40px;">Login</h1>
                <hr />
            </div>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="row fieldRowSpace" >
                    <div class="col">
                        <%= f.text_field :email, class: "roundedFormField" ,placeholder: "Email Address", style: "min-width: 300px" %>
                    </div>
                    <div class="col">
                        <%= f.password_field :password, class: "roundedFormField" ,placeholder: "Password", style: "min-width: 300px" %>
                    </div>
                </div>
                <div class="row fieldRowSpace text-center">
                    <p>New here?  <%= link_to "Sign up", new_user_registration_url, class: "greenText" %> now!</p>
                </div>
                <div class="row fieldRowSpace">
                    <div class="col d-xl-flex justify-content-xl-center">
                        <%= f.submit "Login", class: "btn btn-outline-success roundedButton", style: "margin-right: 20px;" %>
                        <%= link_to "Cancel", root_url,class: "btn btn-outline-danger roundedButton", style: "margin-left: 20px;" %>
                    </div>
                </div>
                <div class="row fieldRowSpace" style="margin-bottom: 100px">
                    <div class="col d-xl-flex justify-content-xl-center">
                        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path,method: :post, class: "btn btn-outline-primary roundedButton" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
