<% provide(:title, "Profile") %>

<div class="container" style="margin-top: 100px; margin-bottom: 100px">
    <div class="row">
        <div class="col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center">
            <%= gravatar_for @user, size: 104 %>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="col-xl-12">
                    <h1><%= @user.name %></h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p class="text-right">Email:</p>
                        </div>
                        <div class="col">
                            <p><%= @user.email %></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p class="text-right">Contact Number:</p>
                        </div>
                        <div class="col">
                            <p><%= @user.contact_number %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-end" style="margin-top: 20px;">
                    <%= link_to raw("<i class='fa fa-pen'></i> Edit Profile"), edit_user_registration_url(@user), class: "btn btn-outline-info roundedButton", style: "margin-right: 10px;"  %>
                    <%= link_to raw("<i class='fa fa-trash'></i>  Delete Account"), registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger roundedButton" %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12" style="margin-top: 50px;">
            <h2>Booking History</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>