<% provide(:title, "Profile") %>

<div class="container" style="margin-top: 100px; margin-bottom: 100px">
    <div class="row">
        <div class="col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center">
            <%= gravatar_for @user, size: 104 %>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="col-xl-12">
                    <h1><%= @user.name %></h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p class="text-right">Email:</p>
                        </div>
                        <div class="col">
                            <p><%= @user.email %></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p class="text-right">Contact Number:</p>
                        </div>
                        <div class="col">
                            <p><%= @user.contact_number %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-end" style="margin-top: 20px;">
                    <%= link_to raw("<i class='fa fa-pen'></i> Edit Profile"), edit_user_registration_url(@user), class: "btn btn-outline-info roundedButton", style: "margin-right: 10px;"  %>
                    <%= link_to raw("<i class='fa fa-trash'></i>  Delete Account"), registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger roundedButton" %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12" style="margin-top: 50px;">
            <h2>Booking History</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <% @user_trips.each do |item| %>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-xl-2 d-xl-flex align-items-xl-center">
                        <p><%= item.check_in_date.strftime("%B %d, %Y") %></p>
                    </div>
                    <div class="col-xl-2">
                    <% if item.images.present? %>
                        <%= link_to image_tag(item.images.first.image, size: "120x80"), listing_path(item.id) %>
                    <% else %>
                        <p> No image found </p>
                    <% end %>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center">
                        <p><%= link_to item.listing_name, listing_path(item.id)%><br /><%= item.name %></p>
                    </div>
                </div>
            <% end %>
            
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center" style="margin-top: 15px;">
                    <nav>
                        <%= will_paginate @user_trips %>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
