<div id="newHouseModal" role="dialog" tabindex="-1" class="modal fade text-left show" style="margin-top: 20px;">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a new Property</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <%= form_for(@property) do |f|  %>
            <div class="modal-body">
                <div class="container">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6">
                            <%= f.hidden_field :host_id, value: user_signed_in? ? current_user.id : nil %>
                            <%= f.text_field :property_name, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "Property Name" %>
                        </div>
                        <div class="col-lg-6" style="width: 520px;">
                            <%= f.select :property_type, raw("
                            <option value='1' selected>Condominium</option>
                            <option value='2'>Resort</option>
                            <option value='3'>Hotel</option>
                            <option value='4'>Beach House</option>
                            <option value='5'>Apartment</option>
                            <option value='6'>Capsule Room</option>
                            "), {:include_blank => true}, style: "width: 520px", class: "roundedFormField" %>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6">
                            <label class="form-check-label">Check In Time</label>
                            <%= f.select :check_in_time, '1'..'24', required: 'required', class: "roundedFormField col-lg-12"%>
                        </div>
                        <div class="col-lg-6">
                        <label class="form-check-label">Check Out Time</label>
                            <%= f.select :check_out_time, '1'..'24', required: 'required', class: "roundedFormField col-lg-12"%>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                            <%= f.text_area :property_description, class: "roundedFormField" ,placeholder: "Property Description", required: true, style: "min-width: 1073px; height: 200px" %>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-3">
                            <%= f.number_field :rates, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "Price Per Night" %>
                        </div>
                        <div class="col-lg-3">
                            <%= f.number_field :service_fee, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "Service Fee" %>
                        </div>
                        <div class="col-lg-3">
                            <%= f.number_field :cleaning_fee, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "Cleaning Fee" %>
                        </div>
                        <div class="col-lg-3">
                            <%= f.number_field :capacity, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "Capacity" %>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                            <h3>Facilities &amp; Amenities</h3>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <%= f.check_box :wifi, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">WiFi</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :swimming_pool, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-2">Swimming Pool</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :parking, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-3">Parking</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :restaurant, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-4">Restaurant</label>
                                    </div>
                                </div>
                                <div class="col">
                                        <div class="form-check">
                                        <%= f.check_box :twenty_four_hour_front_desk, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">24-hour Front Desk</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :fitness_center, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-2">Fitness Center</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :airport_transfer, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-3">Airport Transfer</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :pay_upon_checkin, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-4">Pay Upon Check in</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <%= f.check_box :family_friendly, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">Family Friendly</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :near_mrt_station, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-2">Near MRT Stations</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="formCheck-2" />
                                        <label class="form-check-label" for="formCheck-3">Clean Accomodation</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="formCheck-2" />
                                        <label class="form-check-label" for="formCheck-4">Instant Booking</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <%= f.check_box :no_cancellation_fee, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">No Cancellation Fees</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :cancellation_fee, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-2">Cancellation Fees</label>
                                    </div>
                                    <%= f.number_field :cancellation_fee_price, class: "roundedFormField col-lg-12" ,placeholder: "Cancellation Fee Price" %> 
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                            <h3>House Rules</h3>
                            <hr />
                            <div class="row">
                                <div class="col-xl-2">
                                    <div class="form-check">
                                        <%= f.check_box :no_smoking, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">No Smoking</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :pets_allowed, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-2">Pets Allowed</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :no_parties, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-3">No Parties</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :other_rules, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-4">Other Rules</label>
                                    </div>
                                </div>
                                <div class="col">
                                <%= f.text_area :other_rules_description, class: "roundedFormField" ,placeholder: "Other Rules Description", style: "width: 850px;height: 100px;" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                            <h3>Health &amp; Safety</h3>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <%= f.check_box :smoke_alarm, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">Smoke Alarms</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :security_guards, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-2">Security Guards</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :cctvs_equipped, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-3">CCTV&#39;s Equipped</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :near_hospitals, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-4">Near Hospitals</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <%= f.check_box :safety_deposit_box, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">Safety Deposit Box</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :smoking_area, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-2">Smoking Area</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :twenty_four_hour_security, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-3">24-hour Security</label>
                                    </div>
                                    <div class="form-check">
                                        <%= f.check_box :elevator, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-4">Elevator</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <%= f.check_box :disabled_access_friendly, class: "form-check-input" %>
                                        <label class="form-check-label" for="formCheck-1">Disabled Access Friendly</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                            <h3>Images</h3>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <input type="file" multiple accept="image/*" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                <%= f.submit "Submit", class: "btn btn-outline-success roundedButton", style: "margin-right: 20px;" %>
            </div>
            <% end %>
        </div>
    </div>
</div>