<% provide(:title, "#{@property.property_name}" ) %>
<div class="container">
    <div class="row">
        <div class="col" style="margin-right: -30px;">
            <div style="background-image: url('home/heading.jpg');height: 200px;background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div style="background-image: url('home/heading.jpg');height: 200px;background-size: cover;background-position: center;margin-right: -20px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-right: -15px;">
                    <div style="background-image: url('home/heading.jpg');height: 200px;background-size: cover;"></div>
                </div>
                <div class="col" style="padding: 0px 0px;">
                    <div style="background-image: url('home/heading.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 55px;">
        <div class="col">
            <p><span style="font-size: 42px;color: #16f063;"><%= @property.property_name %></span> Hosted by <%= @hostDetails.first_name %> <%= @hostDetails.last_name %></p>
        </div>
        <div class="col-xl-3">
            <div class="row" style="margin-top: 22px;">
                <div class="col">
                <%= render 'edit' %>
                <button class="btn btn-outline-info roundedButton" style="margin-right: 15px; margin-left: 50px" type="button" data-toggle="modal" data-target="#editPropertyModal" ><i class="fa fa-pen"></i> Edit</button>
                <%= link_to raw("<i class='fa fa-trash'></i> Delete"), property_path(@property), class: "btn btn-outline-danger roundedButton", method: :delete, data: { confirm: "You sure?" },  style:"margin-left: 15px " %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
            <hr />
                <ul class="nav nav-pills d-xl-flex justify-content-xl-center">
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link active" href="#tab-1">Details</a></li>
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link " href="#tab-2">Host Information</a></li>
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link " href="#tab-3">Gallery</a></li>
                    <li class="nav-item pill-1"><a role="tab" data-toggle="pill" class="nav-link " href="#tab-3">Reviews</a></li>
                </ul>
                <div class="tab-content">
                     <%= render 'details' %>
                    <div role="tabpanel" class="tab-pane fade" id="tab-2">
                        <p>Content for tab 2.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-3">
                        <p>Content for tab 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
