<div class="sticky-top">
    <nav class="navbar header justify-content-between">
    <div class='offset-lg-2 offset-md-2'>
        <a class="navbar-brand text-white MontserratFont">Traveller's Nomadic Hut</a>
    </div>

    <div class="pull-right col-lg-2 col-md-2 col-xs-4">
        <div class="dropdown">
        <button class="headerDropdown" data-toggle="dropdown" aria-expanded="false">
            <i class='fa fa-bars'> </i> &nbsp;
            <i class='fa fa-user-circle'> </i>
        </button>
            <div role="menu" class="dropdown-menu">
                <% if user_signed_in? %>
                    <%= link_to raw("<i class='fa fa-home'></i> Home"), root_url, class: "dropdown-item"%>
                    <a role="presentation" class="dropdown-item" href="#"><i class='fa fa-user-circle'></i> Profile</a>
                    <% if current_user.account_type === 1 %>
                    <div class="dropdown-divider"></div>
                    <%= link_to raw("<i class='fa fa-tachometer-alt'></i> Host Dashboard"), dashboard_index_url, class: "dropdown-item"%>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to raw("<i class='fa fa-sign-out-alt'></i> Logout"), destroy_user_session_path, class: "dropdown-item", method: :delete %>
                <% else %>
                    <%= link_to raw("<i class='fa fa-sign-in-alt'></i> Login"), new_user_session_path, class: "dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to raw("<i class='fas fa-user'></i> Sign up as a Host"), new_user_registration_url, class: "dropdown-item" %>  
                    <a role="presentation" class="dropdown-item" href="#"><i class='far fa-user'></i> Sign up as a Guest</a>
                <% end %>
            </div>
        </div>
    </div>
    </nav>
    
    <% if yield(:title) != "Host Dashboard"%>
        <nav class="navbar navigationItems justify-content-between">
            <%= link_to raw(" Home"), root_url, class: "nav-item nav-link text-dark headerItem" %>
            <a class="nav-item nav-link text-dark headerItem" href="#">Booking a Home</a>
            <a class="nav-item nav-link text-dark headerItem" href="#">Host your Home</a>
            <a class="nav-item nav-link text-dark headerItem" href="#">About Us</a>
            <a class="nav-item nav-link text-dark headerItem" href="#">Contact Us</a>
        </nav>
    <% end %>
</div>
