<% provide(:title, "Update #{@user.name} Information") %>
<div>
    <div class="signupHeadingBG">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="margin-top: 40px;">Update User Information</h1>
                <hr />
            </div>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="row fieldRowSpace" >
                <div class="col">
                  <%= f.label :name %>:
                    <%= f.text_field :name, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "First Name" %>
                </div>      
                <div class="col">
                    <%= f.label :email %> Address:
                    <%= f.email_field :email, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "Email Address" %>
                </div>
            </div>
            <div class="row fieldRowSpace" >
                <div class="col">
                    <%= f.label :contact_number %>:<br/>
                    <%= f.number_field :contact_number, required: 'required', class: "roundedFormField col-lg-12" ,placeholder: "Contact Number" %>
                </div>
            </div>
            <div class="row fieldRowSpace">
                <div class="col">
                    <%= f.label :password %> <i style="font-size: 12px">(leave blank if you don't want to change it)</i><br />
                    <%= f.password_field :password, autocomplete: "new-password" , class: "roundedFormField col-lg-12" %>
                    <% if @minimum_password_length %>
                        <br />
                        <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                </div>
                <div class="col">
                    <div class="field">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "roundedFormField col-lg-12", placeholder: "Confirm Password" %>
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <%= f.label :current_password %><br />
                        <%= f.password_field :current_password, autocomplete: "current-password", class: "roundedFormField col-lg-12", placeholder: "Current Pasword" %>
                        <br/> <i style="font-size: 12px;">(we need your current password to confirm your changes)</i>
                    </div>
                </div>
            </div>

            <div class="row fieldRowSpace">
                <div class="col d-xl-flex justify-content-xl-center">
                    <%= f.submit "Update", class: "btn btn-primary roundedButton", style: "margin-right: 20px;" %>
                    <%= link_to "Cancel", root_url,class: "btn btn-danger roundedButton", style: "margin-left: 20px;" %>
                </div>
            </div>
            <div class="row fieldRowSpace d-xl-flex justify-content-xl-center""  style="margin-bottom: 100px">
                <%= link_to raw("<i class='fa fa-trash'></i>&nbsp; Delete Account"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger roundedButton", style: "margin-left: 20px;" %>
            </div>
        <% end %>
    </div>
</div>
